class Roxy < Formula
  desc "Local development proxy with custom .roxy domains and automatic HTTPS"
  homepage "https://github.com/rbas/roxy"
  license "MIT"
  version "__VERSION__"

  on_macos do
    if Hardware::CPU.arm?
      url "__URL__"
      sha256 "__SHA256__"
    else
      odie "Roxy currently only supports Apple Silicon (ARM64). Intel Macs are not yet supported."
    end
  end

  on_linux do
    if Hardware::CPU.intel?
      url "__LINUX_URL__"
      sha256 "__LINUX_SHA256__"
    else
      odie "Roxy on Linux currently only supports x86_64 (AMD64)."
    end
  end

  def install
    bin.install "roxy"
  end

  def caveats
    <<~EOS
      Roxy requires one privileged setup. This installs its socket-activated
      service, which runs as your developer account:
        sudo roxy install
    EOS
  end

  test do
    system "#{bin}/roxy", "--version"
  end
end
